.singlepost-Wrap {
  padding: 25px;
  padding-right: 0;
}

.spost-img {
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}
.spost-title {
  margin: 10px;
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 30px;
}
.spost-edit {
  float: right;
  font-size: 24px;
}
.spost-icon {
  margin-left: 12px;
  cursor: pointer;
}

.spost-report {
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  padding: 4px;
  font-weight: bold;
  font-family: "Josefin", sans-serif;
}
.spost-icon:first-child {
  color: rgb(0, 225, 255);
}
.spost-icon:nth-child(2) {
  color: rgb(238, 8, 8);
}
.singlepost-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  color: rgb(187, 125, 9);
  font-family: "varela Round", sans-serif;
}
.spost-decp {
  color: rgb(88, 84, 84);
  font-size: 18px;
  line-height: 1.5;
  margin-left: 30px;
  text-align: justify;
}
.spost-decp::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.spost-titleinput {
  margin: 10px;
  font-size: 28px;
  text-align: center;
  color: gray;
  border-bottom: 1.5px solid rgb(10, 151, 151) !important;
}
.spost-titleinput:focus {
  outline: none !important;
  box-shadow: none;
}

.spost-decpinput {
  border: none;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(194, 104, 19);
}
.spost-decpinput:focus {
  outline: none !important;
  box-shadow: none;
}
.spost-catinput {
  border: none;
  font-size: 18px;
  color: rgb(105, 104, 104);
  border-bottom: 1.5px solid rgb(10, 151, 151);
}
.cat-lable {
  color: rgb(10, 151, 151) !important;
  font-weight: 600;
}
.parent-b {
  display: flex;

  justify-content: flex-end;
}
.update-b {
  border: none;
  background-color: rgb(10, 151, 151);
  border-radius: 10px;
  padding: 7px;
  width: 150px;
  color: aliceblue;
  font-size: 20px;
  cursor: pointer;
}

.cmt-section {
  margin-top: 200px;
  margin-left: 40px;
  margin-right: 20px;
}
.chat-box-bottom {
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: linear-gradient(to bottom, #87dcf8 0%, rgb(165, 163, 163) 100%);
}
.cmt-title {
  text-align: center;
  margin-bottom: 30px;
  color: azure;
  padding: 20px;
  background: linear-gradient(to bottom, #87dcf8 0%, rgb(165, 163, 163) 100%);
}

.chatmessage-input {
  width: 80%;
  padding: 10px;
  border: 2px solid #21abda;
  border-radius: 20px;
}

.chatSubmitbtn {
  width: 70px;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px;
  font-size: 20px;
}
.chat-wrapper {
  display: flex;
  flex-direction: column;
}
.chat-top {
  background: linear-gradient(to bottom, #71d3f3 0%, rgb(223, 223, 223) 100%);
  height: 600px;
  overflow-y: scroll;
  padding-right: 20px;
}
.message {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: 20px;
}
.messageTop {
  display: flex;
}
.messageimg {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.message-text {
  padding: 20px;
  background-color: rgb(204, 204, 204);
  color: black;
  border-radius: 30px;
  font-size: 17px;
  max-width: 400px;
  min-width: 300px;
  font-family: sans-serif;
}
.message-bottom {
  font-size: 17px;
}

.message.own {
  align-items: flex-end;
}

.message.own .message-text {
  background-color: rgb(48, 206, 206);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  max-width: 400px;
  margin-right: 40px;
}
.chatbox-wrapper {
  display: flex;
}

.user-cmt {
  font-size: 14px;
  font-family: sans-serif;
}
