.settings {
  display: flex;
}

.swal-style {
  width: 300px;
}
.settingscontainer {
  flex: 9;
  padding: 20px;
}

.setting-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(12, 197, 197);
}

.settingsDelete {
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.settingForm {
  display: flex;
  flex-direction: column;
}

.ppic {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ppic > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  color: white;
  background-color: rgb(15, 149, 190);
  cursor: pointer;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsPPInput {
  width: 30%;
}

.settingForm > input {
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}

.setting-Button {
  align-self: center;
  width: 150px;
  border-radius: 10px;
  font-size: 20px;
  padding: 6px;
  margin-top: 20px;
  cursor: pointer;
}
.profile-text {
  font-size: 20px;
}
.profile-input {
  font-size: 18px;
}
.user-post {
  width: 42%;
  margin: 20px 35px;
}
.user-post-cont {
  display: flex;
  flex-wrap: wrap;
  border-color: #2ccfdb !important;
}
.user-post-img {
  width: 95%;
  height: 250px;
  margin: 10px;

  border-radius: 20px;
  object-fit: cover;
}
.single-post-desc {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #464444;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-left: 5px;
}

.single-post-title {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
  margin-top: 10px;
  cursor: pointer;
  color: #3e98c2;
}

.post-user-date {
  font-style: italic;
  font-size: 18px;
  color: #cf8b1d;
  font-weight: 400;
  margin-top: 5px;
}

.no-post-st {
  color: #575555;
  text-align: center;
}
