@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin";
}
.nav-bg {
  background-color: rgb(219, 217, 217);
}

.topImg {
  width: 65px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}
.logo {
  font-size: 28px !important;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.logo-title {
  color: #33ccff;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

nav a:link {
  color: rgb(77, 77, 77);
  font-size: 20px !important;
  font-weight: bold !important;
}
nav a:visited {
  color: rgb(73, 72, 72) !important;
}
nav a:hover {
  color: rgb(76, 196, 196) !important;
  font-size: 21px !important;
}
nav a:active {
  color: rgb(171, 110, 184) !important;
}

/* .togicon {
  background-color: rgb(116, 110, 110);
} */
