.side {
  flex: 3;
  height: fit-content;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-title {
  margin: 20px;
  padding: 5px;
  width: 80%;
  border-top: solid 2px #a7a4a4;
  border-bottom: solid 2px #a7a4a4;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 600;
}
.side-items > img {
  margin-top: 15px;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.side-items > h3 {
  padding: 25px 30px;
}
.side-items > p {
  padding: 5px 30px;
  font-size: 18px;
}

.side-list {
  list-style-type: none;
  margin-bottom: 30px;
}

.side-list-item {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  font-size: 19px;
}
.side-social {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-icon {
  font-size: 16px;
  margin-left: 10px;
}
